*{
    margin: 0;
    box-sizing: border-box;
  }
body{
    min-height: 100vh;
    width: 100%;
  }
/* body */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

  /* Outter */
    .outter{
    width: 90%;
    height: 90vh;
    background-color: red;
    border: 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    }

    .inner{
    top: 0;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    }


    .title2{
    position: relative;
    top: 45%;
    }


.background-text{
    font-size: 2em;
}  

button{
    background-color: green;

}